@model IEnumerable<TaxiService.Models.RiderDetailsTable>

@{
    ViewBag.Title = "Active";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/common.css" rel="stylesheet" />
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-users fa-lg"></i></li>
    <li class="breadcrumb-item">Riders</li>
    <li class="breadcrumb-item"><a href="#">Active</a></li>
</ul>

<a class="btn btn-success" style="margin-bottom:10px" onclick="addView()"><i class="fa fa-plus"></i>Add New Rider</a><br />

<table class="table">
    <tr>
        <th>
            Rider Code
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            Location (Current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RiderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            @if (item.Status == 2)
            {
                <td>
                    <label class="label label-success">Activated</label>
                </td>
            }
            else
            {
                <td>
              
                </td>
            }
            
            <td>
                <a class="btn btn-info" href="#" data-toggle="tooltip" data-placement="left" title="View" onclick="view(@item.RiderID)">
                    <i class="fa fa-eye fa-lg"></i>
                </a>
                <a class="btn btn-success" href="#" data-toggle="tooltip" data-placement="top" title="Edit" onclick="editView(@item.RiderID)">
                    <i class="fa fa-pencil fa-lg"></i>
                </a>
                <a class="btn btn-danger" href="#" data-toggle="tooltip" data-placement="right" title="Delete" onclick="deletePopup(@item.RiderID)">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
                <input type="hidden" id="hiddenRiderId" />
            </td>
        </tr>
    }

</table>


<!--View Popoup Model-->
<div class="modal fade" id="popupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body site-theme-model" id="popupModalBodyDiv">
                @*popupPV*@
            </div>
        </div>
    </div>
</div>

<!--Delete Popup Model-->
<div class="modal fade" id="deletePopupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header site-theme">
                <h3 class="modal-title">Delete Rider</h3>
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body site-theme">
                <span id="msg_confirm">Are you sure want to delete this rider..?</span>
            </div>
            <div class="modal-footer site-theme">
                <a href="#" class="btn btn-danger" onclick="confirmDelete()">Confirm</a>
                <a href="#" class="btn btn-success" data-dismiss="modal" onclick="cancel()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>

    var addView = function () {
        var url = '@Url.Action("AddRider", "Rider")';

        $("#popupModalBodyDiv").load(url, function () {
            $("#popupModal").modal('show');
        })
    }

    var view = function (riderId) {
        var url = '@Url.Action("ViewRider", "Rider")?riderId=' + riderId;

        $("#popupModalBodyDiv").load(url, function () {
            $("#popupModal").modal('show');
        })
    }

    var deletePopup = function (riderId) {

        $("#hiddenRiderId").val(riderId);
        $("#deletePopupModal").modal('show');
    }

    var confirmDelete = function () {
        var riderId = $("#hiddenRiderId").val();
        var url = '@Url.Action("DeleteRider", "Rider")'

        $.ajax({

            type: "POST",
            url: url,
            data: { riderId: riderId },
            success: function (result) {
                $("#deletePopupModal").modal("hide");
                window.location.href = '@Url.Action("Active")'
            }
        });
    }

    var editView = function (riderId) {
        var url = '@Url.Action("EditRider", "Rider")?riderId=' + riderId;

        $("#popupModalBodyDiv").load(url, function () {
            $("#popupModal").modal('show');
        })
    }

</script>