@model TaxiService.Models.RiderDetailsTable

@{
    Layout = null;
}

<link href="~/Content/common.css" rel="stylesheet" />
<div class="modal-header site-theme">
    <h4 class="modal-title pull-left">Add Rider</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="site-theme">
    @using (Html.BeginForm("AddRider", "Rider", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div style="padding-right:65px;padding-left:65px">

                <div class="navbar-form div-row">
                    @Html.Label("First Name")
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Last Name")
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Email")
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Mobile")
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Password")
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Current Location")
                    @Html.TextBoxFor(model => model.CurrentLocation, new { @class = "form-control", @style = "float:right", @required = "required" })
                </div>

            </div>

            <div class="modal-footer site-theme">
                <button class="btn btn-success" type="submit" required>Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    }
</div>

