@model TaxiService.Models.RiderDetailsTable

@{
    Layout = null;
}

<link href="~/Content/common.css" rel="stylesheet" />

<div class="modal-header site-theme">
    <h4 class="modal-title pull-left">Edit Rider</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="site-theme">
    @using (Html.BeginForm("EditRider", "Rider", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div style="padding-right:65px;padding-left:65px">
                @Html.HiddenFor(x => x.RiderID)
                @Html.HiddenFor(x => x.Password)
                @Html.HiddenFor(x => x.Status)
                @Html.HiddenFor(x=>x.IsDeleted)
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="navbar-form div-row">
                    @Html.Label("Rider Code")
                    @Html.TextBoxFor(model => model.RiderCode, new { @class = "form-control", @style = "float:right", @required = "required", @readonly = "readonly" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("First Name")
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Last Name")
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Email")
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Mobile")
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Current Location")
                    @Html.TextBoxFor(model => model.CurrentLocation, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required" })
                </div>

                <div class="navbar-form div-row">
                    @Html.Label("Registered Date")
                    @Html.TextBoxFor(model => model.RegisteredDate, new { @class = "form-control", @id = "proCode", @style = "float:right", @required = "required", @readonly = "readonly" })
                </div>
            </div>
            <div class="modal-footer site-theme">
                <button type="submit" class="btn btn-success" required>Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }
</div>