@model TaxiService.Models.HomeBookingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-6 col-md-6 ">
                <h6 class="text-white ">Need a ride? just call</h6>
                <h1 class="text-uppercase">
                    +9471 999 4818
                </h1>
                <p class="pt-10 pb-10 text-white">
                    Whether you enjoy city breaks or extended holidays in the sun, you can always improve your travel experiences by staying in a small.
                </p>
                <a href="#" class="primary-btn text-uppercase">Call for taxi</a>
            </div>
            <div class="col-lg-4  col-md-6 header-right">
                <h4 class="pb-30">Book Your Taxi Online Now!</h4>
                @using (Html.BeginForm("NewBooking", "UserHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form class="form">
                        <div class="from-group">
                       @Html.TextBoxFor(model => model.LocationFrom, new { @class = "form-control txt-field", type = "text", id = "location_from", name = "location_from", placeholder = "From Destination", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'From Destination'", style = "color:white;" ,@required="required"})
                       @Html.TextBoxFor(model => model.LocationTo, new { @class = "form-control txt-field", type = "text", id = "location_to", name = "location_to", placeholder = "To Destination", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'To Destination'", style = "color:white;", @required = "required" })
                            <input id="destination" type="hidden" name="destination" />
                        </div>
                        <div class="form-group">
                            <div class="input-group dates-wrap">
                                @Html.TextBoxFor(model => model.PickUpDate, new { @Value = @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt"), id = "datepicker1", @class = "dates form-control", style = "color:white;", type = "text", required = "required", autocomplete = "on" })
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.DistanceKm, new { id = "distanceInKm" })
                        @Html.HiddenFor(model => model.DurationMin, new { id = "durationInMin" })
                        <div class="form-group">
                            <button class="btn btn-default btn-lg btn-block text-center text-uppercase">Make reservation</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start home-about Area -->
<section class="home-about-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 about-left">
                <img class="img-fluid" src="~/Images/EgoSqure.png" alt="">
            </div>
            <div class="col-lg-6 about-right">
                <h1>
                    Globally Connected
                    by Large Network
                </h1>
                <h4>We are here to listen from you deliver exellence</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                </p>
                <a class="text-uppercase primary-btn" href="#">Get Details</a>
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->
<!-- Start services Area -->
<section class="services-area pb-120">
    <div class="container">
        <div class="row section-title">
            <h1>What Services we offer to our clients</h1>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-car"></span>
                <a href="#"><h4>Taxi Service</h4></a>
                <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-briefcase"></span>
                <a href="#"><h4>Office Pick-ups</h4></a>
                <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-bus"></span>
                <a href="#"><h4>Event Transportation</h4></a>
                <p>
                    Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End services Area -->
<!-- Start image-gallery Area -->
<section class="image-gallery-area section-gap">
    <div class="container">
        <div class="row section-title">
            <h1>Image Gallery that we like to share</h1>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 single-gallery">
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
            </div>
            <div class="col-lg-4 single-gallery">
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
            </div>
            <div class="col-lg-4 single-gallery">
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
                <a href="~/Images/EgoSqure.png" class="img-gal"><img class="img-fluid" src="~/Images/EgoSqure.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- End image-gallery Area -->
<!-- Start reviews Area -->
<section class="reviews-area section-gap">
    <div class="container">
        <div class="row section-title">
            <h1>Client’s Reviews</h1>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Cody Hines</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Chad Herrera</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Andre Gonzalez</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Jon Banks</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Landon Houston</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review">
                    <h4>Nelle Wade</h4>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                    </p>
                    <div class="star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End reviews Area -->
<!-- Start home-calltoaction Area -->
<section class="home-calltoaction-area relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row align-items-center section-gap">
            <div class="col-lg-8">
                <h1>Experience Great Support</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
            <div class="col-lg-4 btn-left">
                <a href="#" class="primary-btn">Reach Our Support Team</a>
            </div>
        </div>
    </div>
</section>
<!-- End home-calltoaction Area -->
<!-- Start latest-blog Area -->
<section class="latest-blog-area section-gap">
    <div class="container">
        <div class="row section-title">
            <h1>Latest News from our Blog</h1>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-latest-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Images/EgoSqure.png" alt="">
                    </div>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Life Style</a></li>
                    </ul>
                    <a href="#">
                        <h4>Portable latest Fashion for young women</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
                    </p>
                    <p class="date">31st January, 2018</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-latest-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Images/EgoSqure.png" alt="">
                    </div>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Life Style</a></li>
                    </ul>
                    <a href="#">
                        <h4>Portable latest Fashion for young women</h4>
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
                    </p>
                    <p class="date">31st January, 2018</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest-blog Area -->


<script>
    function locatePlaces() {

        var autocomplete_from = new google.maps.places.Autocomplete(document.getElementById('location_from'));
        autocomplete_from.setComponentRestrictions(
            { 'country': ['lk'] });

        var autocomplete_to = new google.maps.places.Autocomplete(document.getElementById('location_to'));
        autocomplete_to.setComponentRestrictions(
            { 'country': ['lk'] });
    }
</script>

@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdsaERISYyGWXAR5s8aBaumYo4gGrOxh0&libraries=places"></script>


    <script>
        $(function () {
            //add input listeners
            google.maps.event.addDomListener(window, 'load', function () {
                var from_places = new google.maps.places.Autocomplete(document.getElementById('location_from'));
                var to_places = new google.maps.places.Autocomplete(document.getElementById('location_to'));

                google.maps.event.addListener(from_places, 'place_changed', function () {
                    var from_place = from_places.getPlace();
                    var from_address = from_place.formatted_address;
                    $('#origin').val(from_address);
                });

                google.maps.event.addListener(to_places, 'place_changed', function () {
                    var to_place = to_places.getPlace();
                    var to_address = to_place.formatted_address;
                    $('#destination').val(to_address);
                });
            });
        });
    </script>*@