@model IEnumerable<TaxiService.Models.DriverDetailsTable>

@{
    ViewBag.Title = "Rejected";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/common.css" rel="stylesheet" />
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-cab fa-lg"></i></li>
    <li class="breadcrumb-item">Drivers</li>
    <li class="breadcrumb-item"><a href="#">Rejected</a></li>
</ul>

<table class="table">
    <tr>
        <th>
            Driver Code
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            Current Location
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriverCode)
        </td>
        <td>
            @item.FirstName &nbsp; @item.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLocation)
        </td>
        <td>
           <label class="label label-danger">rejected</label>
        </td>
        <td>
            <a class="btn btn-info" href="#" data-toggle="tooltip" data-placement="left" title="View" onclick="view(@item.DriverID)">
                <i class="fa fa-eye fa-lg"></i>
            </a>
            <a class="btn btn-success" href="#" data-toggle="tooltip" data-placement="top" title="Restore" onclick="restorePopup(@item.DriverID)">
                <i class="fa fa-history fa-lg"></i>
            </a>
            <a class="btn btn-danger" href="#" data-toggle="tooltip" data-placement="right" title="Delete" onclick="deletePopup(@item.DriverID)">
                <i class="fa fa-trash-o fa-lg"></i>
            </a>
            <input type="hidden" id="hiddenDriverId" />
        </td>
    </tr>
}

</table>


<!--View Popoup Model-->
<div class="modal fade" id="popupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body site-theme-model" id="popupModalBodyDiv">
                @*popupPV*@
            </div>
        </div>
    </div>
</div>

<!--Restore Popup Model-->
<div class="modal fade" id="restorePopupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header site-theme">
                <h3 class="modal-title">Restore Driver</h3>
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body site-theme">
                <span id="msg_confirm">Are you sure want to restore this Driver..?</span>
            </div>
            <div class="modal-footer site-theme">
                <a href="#" class="btn btn-danger" onclick="confirmRestore()">Confirm</a>
                <a href="#" class="btn btn-success" data-dismiss="modal" onclick="cancel()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!--Delete Popup Model-->
<div class="modal fade" id="deletePopupModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header site-theme">
                <h3 class="modal-title">Delete Driver</h3>
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body site-theme">
                <span id="msg_confirm">Are you sure want to delete this Driver..?</span>
            </div>
            <div class="modal-footer site-theme">
                <a href="#" class="btn btn-danger" onclick="confirmDelete()">Confirm</a>
                <a href="#" class="btn btn-success" data-dismiss="modal" onclick="cancel()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    var view = function (driverId) {
        var url = '@Url.Action("ViewDriver", "Driver")?driverId=' + driverId;

        $("#popupModalBodyDiv").load(url, function () {
            $("#popupModal").modal('show');
        })
    }

    var restorePopup = function (driverId) {

        $("#hiddenDriverId").val(driverId);
        $("#restorePopupModal").modal('show');
    }

    var confirmRestore = function () {
        var driverId = $("#hiddenDriverId").val();
        var url = '@Url.Action("RestoreDriver", "Driver")'

        $.ajax({

            type: "POST",
            url: url,
            data: { driverId: driverId },
            success: function (result) {
                $("#restorePopupModal").modal("hide");
                window.location.href = '@Url.Action("Pending")'
            }
        });
    }

    var deletePopup = function (driverId) {

        $("#hiddenDriverId").val(driverId);
        $("#deletePopupModal").modal('show');
    }

    var confirmDelete = function () {
        var driverId = $("#hiddenDriverId").val();
        var url = '@Url.Action("DeleteDriver", "Driver")'

        $.ajax({

            type: "POST",
            url: url,
            data: { driverId: driverId },
            success: function (result) {
                $("#deletePopupModal").modal("hide");
                window.location.href = '@Url.Action("Active")'
            }
        });
    }

</script>